**/.DS_Store 
**/*.tfstate*
**/.terraform*
**/.terraform/*
**/.debug*.sh
**/.debug.tfvars
**/.debug*.tfvars
**/.vs/*
src/dotnet/8.0/FunctionApp1/publish/*
src/terraform/consumption-linux/dotnet-deployment.zip
src/terraform/consumption-windows/dotnet-deployment.zip
